[column]
    ui = auto
[branch]
    sort = -committerdate
[tag]
    sort = version:refname
[diff]
    algorithm = histogram
[user]
	email = mail@sakumatti.fi
	name = Sakumatti Luukkonen
	signingKey = ~/.ssh/id_ed25519_sk_git
[gpg]
	format = ssh
[gpg "ssh"]
	program = ~/.local/bin/git-ssh-keygen
	allowedSignersFile = ~/.ssh/allowed_signers
[push]
	default = current
[sequence]
	editor = interactive-rebase-tool
[includeIf "gitdir:~/Work/**"]
	path = .gitconfig_work
[core]
	editor = vim -f
	pager = delta
	excludesFile = ~/.gitignore_global
[interactive]
	diffFilter = delta --color-only
[pull]
	ff = only
[commit]
	gpgsign = true
[rebase]
	autosquash = true
[alias]
    remove-merged = "!git branch --merged | egrep -v '(^\\*|main|master)' | xargs git branch -d"
	commit-reuse = commit -eF .git/COMMIT_EDITMSG
[init]
	defaultBranch = main
