+\#*#
+\.\#*#
+*~
.emacs.d/backups/*.*
.emacs.d/elpa
.emacs.d/elpa/*.*
.emacs.d/places
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.xmonad/xmonad-x86_64-linux
.emacs.d/elpa-to-submit/nxhtml/etc/schema/xhtml-loader.rnc
mplayer/gui*
