[user]
	email = sakumatti.luukkonen@gmail.com
	name = Sakumatti Luukkonen
[push]
	default = current
[sequence]
	editor = interactive-rebase-tool
[includeIf "gitdir:~/Work/**"]
	path = .gitconfig_work
