+\#*#
+\.\#*#
+*~
.emacs.d/backups/*.*
.emacs.d/elpa
.emacs.d/elpa/*.*
.emacs.d/places
.emacs.d/auto-save-list
.emacs.d/.smex-items
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.xmonad/xmonad-x86_64-linux
.emacs.d/elpa-to-submit/nxhtml/etc/schema/xhtml-loader.rnc
.mplayer/gui*
.vim/.netrwhist
.vim/.VimballRecord
